body
{
    background-size: cover;
}
#header{
    width:100%;
    margin-top: 0%;
    font-size: 30px;
}
#ins{
    float: right;
}
#copy_right_footer{
    position: fixed;
    bottom:0px;
    width: 100%;
    color: rgb(1, 25, 1);
    background-color: blanchedalmond;
    line-height: 2;
    text-align: center;
}
canvas{
    border:3px solid whitesmoke;
    border-radius: 5px;
    box-shadow: 10px 10px 60px cyan;
    margin-top:10px;
}



